@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

:root {
    --side-size: 35vw;
    --brown: #875029;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.logo {
    font-family: "Diplomata SC", cursive;
    font-size: clamp(1.5rem, -1rem + 6vw, 5rem);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    -webkit-text-stroke: 1px black;
    margin-top: max(30vh, 110px);
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 30%;
    margin: 15px 0px;
    opacity: 85%;
}

.logo span {
    opacity: 95%;
}

.content {
    display: flex;
    min-height: 100vh;
}

.sidepanel {
    display: flex;
    width: var(--side-size);
    flex-direction: column;
    background: url(img/bgpic.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--side-size));
    justify-content: center;
    background-color: rgb(245, 245, 245);
    min-height: 500px;
}

.photo-credit {
    color: white;
}
a:visited {
    color: inherit;
}
a:link {
    color: inherit;
}

input {
    width: 250px;
    height: 23px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(167, 165, 165);
}

input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 4px black;
}

form {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px 40px;
    max-width: 700px;
}

label {
    display: block;
}

input[type="password"].error {
    border: 1px solid red;
}

.password-error {
    color: red;
    margin-top: 0;
    display: none;
}

.main-content {
    background-color: #fff;
    padding: 30px 0;
}

.main > * {
    padding: 30px 50px;
}

.main-content h2 {
    margin-top: 0px;
}

button[type="submit"] {
    color: white;
    background-color: var(--brown);
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}

.main-bottom a {
    text-decoration: none;
    color: var(--brown);
    font-weight: 550;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.main-top {
    padding-bottom: min(10vh, 10%);
}