@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

:root {
    --side-size: 35vw;
}

body {
    margin: 0;
}

.logo {
    font-family: "Diplomata SC", cursive;
    font-size: clamp(1.5rem, -1rem + 6vw, 5rem);
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    -webkit-text-stroke: 1px black;
    margin-top: 30vh;
    width: 100%;
    justify-content: center;
}

.logo img {
    width: 30%;
    margin: 15px 0px;
    opacity: 85%;
}

.logo span {
    opacity: 95%;
}

.content {
    display: flex;
    height: 100vh;
}

.sidepanel {
    display: flex;
    width: var(--side-size);
    flex-direction: column;
    background: url(img/bgpic.jpg);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(100vw - var(--side-size));
    justify-content: space-evenly;
}

.photo-credit {
    color: white;
}
a:visited {
    color: inherit;
}
a:link {
    color: inherit;
}

input {
    width: 250px;
    height: 23px;
}

form {
    margin: 0 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px 40px;
    max-width: 700px;
}

label {
    display: block;
}

input[type="password"].error {
    border: 1px solid red;
}